<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="MissingLeanbackLauncher">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icono"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RegistrarGasto"
        tools:targetApi="31">
        <activity

            android:name=".viewTutorial.TutorialPresupuestoActivity"
            android:exported="false" />
        <activity
            android:name=".viewTutorial.TutorialPendienteActivity"
            android:exported="false" />
        <activity

            android:name=".viewTutorial.TutorialGastoActivity"

            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".viewTutorial.TutorialInicioActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".view.activity.ModificarPresupuestoActivity"
            android:exported="false" />

        <activity
            android:name=".view.activity.PresupuestoActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.activity.AdeudoActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="com.example.registrargasto.MainActivity" />
        </activity>
        <activity
            android:name=".view.activity.ActivityGastos"
            android:banner="@drawable/app_icon_your_company"
            android:exported="true"
            android:icon="@drawable/app_icon_your_company"
            android:logo="@drawable/app_icon_your_company"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.registrargasto.MainActivity" />
        </activity>
        <activity
            android:name=".TutorialActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:icon="@drawable/icono"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>